div#addButton {
	padding-top: 20px;
}

div#constants {
	padding-bottom: 11px;
}

button#remove {
	height: 30px;
	line-height: 2em;
	padding: 1px 1em;
}

.effect {
	padding-bottom: 12px;
}

.removeEffect {
	margin-top: 28px;
}

.effectBox {
	font-size: 14px;
}

button#removeOption {
	position: absolute;
	margin-top: -38px;
	margin-left: 53px;
}

.choice {
	padding-top: 12px;
}